body {
    background-color: blanchedalmond;
}

.svg1 {
    width: 100px;
    height: 100px;
    margin: 100px;
    transform: perspective(100px) rotateX(60deg);
}

.svg2 {
    width: 120px;
    height: 120px;
    fill: aqua;
    stroke: black;
    stroke-width: 0.5px;
    transform-origin: left top;
    transform: rotate(45deg);
}

.svg3 {
    display: inline-block;
    font-size: 100px;
    color: red;
    /* transition: color 1.5s, transform 1s; */
    transition: all 0.5s ease-in-out 2s;
}

/* transition all для всех свойств. увеличивает загрузку системы лучше указывать конкретные */

.svg3:hover {
    /* font-size: 150px;  не применяется к тексту*/
    transform: scale(1.2);
    color: blue;
    transition: all 1s ease-in-out 2s;
}

.svg4 {
    font-size: 40px;
    color: blueviolet;
    text-decoration: none;
}

.svg4::after {
    content: "\F557";
    font-family: "bootstrap-icons";
    margin-left: 10px;
}

.svg5 {
    width: 100px;
    height: 100px;
}

.block {
    background: url(../img/фон.jpg) center/ 120% no-repeat;
    width: 400px;
    height: 400px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.link1 {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: blue;
    transition: all 0.5s ease-in-out;
}

.link1::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.5s;
}

.link1:hover::after,
.link1:focus::after {
    transform: scaleX(1);
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(700px);
    }
}

.track {
    width: 800px;
    height: 300px;
    background-color: yellowgreen;
}

.circle1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    animation: move 3s linear;
}

.circle2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    animation: move 3s ease-in-out;
}

/*---css переходы---*/
.link2{
    display: inline-block;
    border: 0.5rem solid darkblue;
    background-color: aqua;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    text-decoration: none;
    transition: all 0.3;
}

.link2:hover,
.link2:focus {
    border: 0.1rem solid greenyellow;
}

/* https://cssgenerator.org/box-shadow-css-generator.html */
.link3{
    display: inline-block;
    border: 0.5rem solid darkblue;
    background-color: aqua;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    text-decoration: none;
    transition: all 0.3;
}

.link3:hover,
.link3:focus {
    box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
}

/* try tab */

.link4{
    display: inline-block;
    border: 0.5rem solid darkblue;
    background-color: aqua;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    text-decoration: none;
    transition: all 0.3;
}

.link4:hover,
.link4:focus {
    box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
    outline: 0.5rem red dotted;
    outline-offset: 1.2rem;

}

.link5{
    display: inline-block;
    border: 0.5rem solid darkblue;
    background-color: aqua;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    text-decoration: none;
    transition: all 0.3;
}

.link5:hover,
.link5:focus {
    box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 0px 3rem rgba(0,0,0,1);
    outline: 0.5rem red dotted;
    /* outline-offset: 1.2rem; */
    outline-offset: -1.5rem;
}

.btn1{
    padding: 5px 10px;
    margin: 50px;
    background-color: bisque;
    color: darkmagenta;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.btn1:hover,
.btn1:focus{
    transform: translateY(-20px);
}

.btn2{
    margin: 50px;
    border: none;
    padding: 0;
    background: none;
}

.btn2 span{
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background-color: bisque;
    color: darkmagenta;
    transition: transform 0.3s ease-in-out;
}

.btn2:hover span,
.btn2:focus span{
    transform: translateY(-20px);
}

body>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div>button{
    margin: 1rem;
    padding: 1rem;
    background: none;
    border: none;
    border-radius: 1rem;
    width: 15rem;
}

.button1 span{
    color: white;
    background-color: rgba(100,100,250,1);
    border: 0.5rem solid rgba(150,150,250,1);
    border-radius: 3rem;
    margin: 1rem;
    width: 15rem;
    padding: 1rem;
}

.button1:hover span,
.button1:focus span{
    border: 0.75rem solid rgba(175,175,255,1);
    border-radius: 3rem;
}

.button2 span{
    color: rgba(150,250,150,1);
    background-color: rgba(10,150,10,1);
    border: 0.5rem solid rgba(150,250,150,1);
    border-radius: 3rem;
    margin: 1rem;
    width: 15rem;
    padding: 1rem;
}

.button2:hover span,
.button2:focus span{
    color: rgba(10,150,10,1);
    background-color: rgba(255,255,250,1);
    border: 0.5rem solid rgba(10,150,10,1);
}

.button3 span{
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,1);
    border: 0.1rem solid rgba(150,150,150,1);
    margin: 1rem;
    width: 15rem;
    padding: 1rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.button3:hover span,
.button3:focus span{
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,1);
    border: 0.5rem solid rgba(0,0,0,1);
    border-radius: 1rem;
}

.button4{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 15rem;
    border: none;
}

.slider{
    width: 15rem;
    height: 5rem;
    overflow: hidden;
    border: 10px solid #000;
    border: none;
    position: relative;
    background-color: red;
}

.slides {
    position: absolute;
    /* left: 0; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    width: 200%;
}

.slides>div:nth-child(1){
    color: rgba(185,225,255,1);
    background-color: rgba(0,0,255,1);
}

.slides>div:nth-child(2){
    color: rgba(0,0,255,1);
    background-color: rgba(185,225,255,1);
}

.slider{
    width: 200%;
    overflow: hidden;
}

.slide {
    width: 15rem;
    height: 3rem;
    transition: all 1s ease;
 }

 .slide1 {
    margin-left: 0;
 }


 /* border-top */
 /* border-bottom */



 .btn4{
    width: 70px;
    height: 60px;
    margin: 40px;
    padding: 0;
    overflow: hidden;
    border: solid;
 }

 .btn4 button{
    background-color: gray;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0 solid black;
    border-radius: 0;
    position: relative;
    margin: 0;
 }

.btn4 button::after{
    content: attr(data-title);
    width: 100%;
    height: 100%;
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1.4s;
}

.btn4:hover button::after,
.btn4:focus button::after{
    transform: translateX(-100%);
}